.chat-message-user {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 1rem;
}

.chat-message-robot {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 1rem;
}

.chat-message-profile {
  width: 50px;
  border-radius: 50px;
  object-fit: cover;
  object-position: center;
}

.chat-message-text {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  max-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: end;
}

.chat-message-time {
  color: #666;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}